@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Chivo', sans-serif;
}

html, body {
    background: #121725;
    color: #fff;
}

h1 {
    font-size: 52px;
    font-weight: 300;
    line-height: 62px;
    color: #54E6AF;
    text-transform: uppercase;
}

h1 span {
    color: #fff;
}

p {
    color: #C2CBE5;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
}

/* BACKGROUND */
.bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 0;
}

.bg-1 {
    width: 888px;
    height: 640px;
    background: url("../img/desktop/image-host.jpg");
    position: relative;
}

.bg-2 {
    width: 232px;
    height: 104px;
    position: absolute;
    right: 0;
    bottom: -50px;
}

/* HEADER */
header {
    width: 300px;
    padding: 100px 165px;
}

/* MAIN */
main {
    width: 723px;
    height: 600px;
    padding: 50px 0 0 165px;
    z-index: 10;
    position: absolute;
    top: 261px;
}

.container {
    padding-top: 90px;
    width: 700px;
    background: #121725;
    z-index: 4;
    height: 100%;
}

.container p {
    width: 445px;
    margin-top: 24px;
}

form {
    position: relative;
}

input {
    background: #2C344B;
    border-radius: 28px;
    width: 427px;
    color: #fff;
    border: none;
    font-size: 14px;
    line-height: 28px;
    padding: 14px 32px;
    margin-top: 40px;
}

button {
    background: #54E6AF;
    color: #121725;
    width: 162px;
    height: 46px;
    border-radius: 28px;
    font-size: 14px;
    border: none;
    position: absolute;
    bottom: 5px;
    right: 277px;
    cursor: pointer;
    font-weight: 700;
}

button:hover {
    background: #B3FFE2;
}

form p.validation {
    color: #FB3E3E;
    font-size: 12px;
    position: absolute;
    top: 75px;
    left: 30px;
}

.hidden {
    display: none;
}

.icon-bar {
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
    width: 536px;
}

.icon-bar img {
    opacity: 0.5;
    height: 24px;
}

/* MEDIA QUERIES */
@media (max-width: 1240px) {
    header {
        padding-top: 50px;
    }

    .bg {
        align-items: flex-start;
    }

    .bg-1 {
        background: url("../img/tablet/image-host.jpg") center center / cover;
        width: 490px;
    }
}

@media (max-width: 1068px) {
    header {
        padding-left: 39px;
    }

    main {
        padding-left: 39px;
        top: 171px;
    }

    .bg .bg-1 img.bg-2 {
        position: fixed;
        bottom: 0;
        left: 30px;
    }
}

@media (max-width: 745px) {
    header {
        padding: 0;
        width: 100%;
        height: 175px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header a img {
        transform: scale(1.3);
    }

    .bg .bg-1 img.bg-2 {
        display: none;
    }

    .bg-1 {
        background: url("../img/mobile/image-host.jpg") center center / cover;
        width: 100%;
        height: 100%;
        opacity: .125;
    }

    main {
        width: 100%;
        padding: 0 20px;
        top: 60px;
    }

    main .container {
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: none;
        text-align: center;
    }

    .container h1 {
        font-size: 27px;
        line-height: 38px;
    }

    .container p {
        width: 100%;
        font-size: 15px;
        line-height: 25px;
    }

    .container form input {
        width: 100%;
    }

    .container .icon-bar {
        width: 100%;
    }

    .container .icon-bar img {
        height: 15px;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        order: 2;
    }

    form button {
        position: relative;
        bottom: auto;
        right: auto;
        width: 100%;
        margin-top: 20px;
    }

    form p.validation {
        position: relative;
        top: auto;
        left: auto;
        margin: 0;
    }
}